.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 45px;
    box-sizing: border-box;
    border-top: 1px solid rgba(121, 121, 121, 0.2);
}
.nav__list{
    display: flex;
    justify-content: space-between;
}
.nav__link{
    color: #2e363e;
    position: relative;
}
@keyframes notificationAnimation{
    0%{
        transform: none;
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: none;
    }
}
.nav__notification{
    background-color: tomato;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    position: absolute;
    left: 18px;
    bottom: 18px;
    animation: notificationAnimation 3s ease-in-out infinite;
}

@keyframes appearBtnAnimation{
    from{
        transform: translateY(80px);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: none;
    }
}

.nav__btn{
    animation: appearBtnAnimation 1s ease-in-out;
}

